@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "src/styles/vars.scss";
* {
  font-family: "Roboto", sans-serif;
  color: $blackColor;
  box-sizing: border-box;
  margin: 0;
}

button {
  cursor: pointer;
}
